asgiref==3.10.0
autoflake==2.3.1
autopep8==2.3.1
Django==5.1.2
django-browser-reload==1.16.0
flake8==7.1.1
iniconfig==2.1.0
mccabe==0.7.0
packaging==25.0
pluggy==1.6.0
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.3
pytest-django==4.9.0
python-decouple==3.8
sqlparse==0.5.3
